<div class="banner" style="background-image: url(<%= image_url 'Homepage.jpg' %>);">
  <div class="banner-logo">
  <%= image_tag "DLM_LOGO.png" %>
  </div>
  <div class="btn-login">
    LOG
  </div>
  <div class="banner-content">
    <h1>LE <span style="color:#00ffff">CYCLISME</span>  A LA SAUCE</h1> <h1>KETCHUP-MAYO<span style="color:#ffff00"> JAUNE</span>. </h1>
  </div>
</div>

<div class="bandeau navbar-fixed-top text-center">
      <%= link_to root_path do %>
        <%= image_tag "DLM_LOGO_small.png" %>
      <% end %>
</div>

<div class="presentation">
  <div class="container">
    <div class="wrapper-media">
      <div class="row text-center">
        <h1 style ="color: #00ffff"> <strong> DERNIERS ARTICLES </strong></h1>
        <h4>Lisez nos derniers articles, ils sont très cool.</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="wrapper-article">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-4">
          <div class="case">
            <%= link_to post_path(post) do %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
                  <div class="card-category">Popular</div>
                  <div class="card-description">
                    <h2><%= post.title %></h2>
                    <p><%= post.description %></p>
                  </div>
                  <img class="card-user avatar" src="user.jpg">
                </div>
            <%end%>
          </div>
          </div>
        <%end%>
      </div>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-4">
          <div class="case">
            <%= link_to post_path(post) do %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
                  <div class="card-category">Popular</div>
                  <div class="card-description">
                    <h2><%= post.title %></h2>
                    <p><%= post.description %></p>
                  </div>
                  <img class="card-user avatar" src="user.jpg">
                </div>
            <%end%>
          </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      $(".bandeau").hide(); //hide your div initially
          var topOfOthDiv = $(".presentation").offset().top;
          $(window).scroll(function() {
              if($(window).scrollTop() > topOfOthDiv) {
                  console.log("hello");
                  $(".bandeau").show();
              }

              if($(window).scrollTop() < topOfOthDiv) {
                  console.log(topOfOthDiv);
                  console.log($(window).scrollTop());
                  console.log("oups");
                  $(".bandeau").hide();
              }

          });

    });
  <% end %>
<% end %>
<!-- <div class="wrapper-community">
  <div class="container">
  <div class="row">
    <h3 class="text-center">La communauté : #JeSuisUneMusette</h3>
    <div class="col-md-6 text-center">

    <h4> Amoureux du vélo </h4>
    <p>Rejoint la communauté et reçoit directement les meilleurs articles par mail</p>
    </div>
    <div class="col-md-6 text-center">
    <h4> Cycliste</h4>
    <p>Accès au calendrier des courses pret de chez toi</p>
    <p>Chaque mois recoit le planning des courses autour de chez toi qui te correspondent</p>
    <p>Retrouve d'autres musettes prêt de chez pour bordurer en famille</p>
    </div>
  </div>
  </div>
</div>

  <div class="row">
    <h3 class="text-center">Le calendrier</h3>
    <p> Ce calendrier on l'a fait pour nous, on l'avoue. On galèrait tellement à faire notre planning de course sur l'année. A passer a coté de la course car on a raté l'inscription. Tu peux le consulter librement, ajouter les courses qu'on aurait raté, construire ton planning et même t'inscrire et recevoir ton planning personnalisé tous les mois.</p>

  </div>
</div>
 -->

