
<div class="bandeau  text-center">
      <%= link_to root_path do %>
        <%= image_tag "DLM_LOGO_small.png" %>
      <% end %>
</div>

<div class="banner-article" style="background-image: url(<%="http://res.cloudinary.com/dni1kt5ya/image/upload/#{@post.banner.filename.to_s}"%>); ">
  <div class="banner-content">
    <h1><span style="color:#ffff00"><%= @post.numerotation %>. </span> <span style="color:#00006d"> <%=@post.title.upcase %></span></h1>
  </div>
</div>




<div class="container">
<div class="wrapper-text">
<h4 class="text-center"> <%= @post.title %> </h4>
<p> <%= @post.body.html_safe %></p>
</div>
</div>


<div class="wrapper-navigation">
  <div class="navigation">
    <h4 class="text-center go">Précédent</h4>
        <div class="case">
          <%= link_to post_path(@previous_post) do %>
              <div class="card">
                <div class="bg" style="background-image: url(<%="http://res.cloudinary.com/dni1kt5ya/image/upload/#{@previous_post.vignette.filename.to_s}"%>); ">
                </div>
                <div class="bg2">
                    <div class="cta">
                    <h1 class="text-center"><%= @previous_post.id %>.</h1>
                    <p class="text-center"><%= @previous_post.title %></p>
                    </div>
                    <div class="go text-center">
                      GO
                    </div>
                </div>
              </div>
          <%end%>
        </div>
  </div>



  <div class="navigation">
   <h4 class="text-center go">Suivant</h4>
        <div class="case">
          <%= link_to post_path(@next_post) do %>
              <div class="card">
                <div class="bg" style="background-image: url(<%="http://res.cloudinary.com/dni1kt5ya/image/upload/#{@next_post.vignette.filename.to_s}"%>); ">
                </div>
                <div class="bg2">
                    <div class="cta">
                    <h1 class="text-center"><%= @next_post.id %>.</h1>
                    <p class="text-center"><%= @next_post.title %></p>
                    </div>
                    <div class="go text-center">
                      GO
                    </div>
                </div>
              </div>
          <%end%>
        </div>
  </div>
</div>


